@import url("https://fonts.googleapis.com/css?family=Droid+Sans");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
  font-family: 'Droid Sans', sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  position: relative;
}

header {
  color: #fff;
  padding: 6rem;
  background-color: #3772FF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

header h1 {
  margin: 0;
  display: inline-block;
  font-size: 3rem;
}

header h5 {
  display: none;
}

header span {
  font-size: 3.4rem;
  cursor: pointer;
}

.sidebar {
  height: calc(100% - 159px);
  background-color: rgba(119, 135, 139, 0.8);
  width: 0px;
  position: absolute;
  left: 0;
  top: 159px;
  bottom: 0;
  overflow-x: hidden;
  z-index: 999;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  white-space: nowrap;
}

.sidebar section {
  padding: 2rem 1rem;
  font-size: 3.2rem;
  color: white;
}

.sidebar section select {
  font-size: 3rem;
}

.sidebar section option {
  font-size: 1.2rem;
}

.sidebar .btn {
  font-size: 2.4rem;
  border: 1px solid #588C60;
  padding: 10px 15px;
  color: white;
  background-color: #6BAA75;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.sidebar .btn .fa {
  padding-right: 1rem;
}

.sidebar .nuke-warning {
  padding: 5px 10px;
  position: relative;
  left: 2.5rem;
  top: 2px;
  background-color: #F64747;
  border-radius: 7px;
}

.sidebar .nuke-warning::before {
  content: " ";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #F64747;
  position: absolute;
  left: -15px;
  top: 9px;
}

.sidebar .nuke-warning.hidden {
  display: none;
}

.sidebar .color-key {
  padding: 1rem 2rem;
}

.sidebar .color-key h3 {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

.sidebar .color-key .color-box {
  font-size: 2.2rem;
}

.sidebar .color-key .color-box:nth-of-type(1) .color-circle {
  background-color: #f39c12;
}

.sidebar .color-key .color-box:nth-of-type(2) .color-circle {
  background-color: #95a5a6;
}

.sidebar .color-key .color-box:nth-of-type(3) .color-circle {
  background-color: #27ae60;
}

.sidebar .color-key .color-box:nth-of-type(4) .color-circle {
  background-color: #1abc9c;
}

.sidebar .color-key .color-box:nth-of-type(5) .color-circle {
  background-color: #e74c3c;
}

.sidebar .color-key .color-circle {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 3px;
}

.sidebar.active {
  width: 100%;
}

.sidebar.active form {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.map-contain {
  height: calc(100% - 159px);
}

#map {
  width: 100%;
  height: 100%;
}
