
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import "variables";
@import "mixins";



*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

//GENERAL STYLES

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
  font-family: 'Droid Sans', sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  position: relative;
}

header {
  color: $fonts;
  padding: 6rem;
  background-color: $header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    margin: 0;
    display: inline-block;
    font-size: 3rem;
  }
  h5 {
    display: none;
  }
  span {
    font-size: 3.4rem;
    cursor: pointer;
  }
}

.sidebar {
  @include mapHeight;
  background-color: $sidebar;
  width: 0px;
  position: absolute;
  left: 0;
  top: #{$headerHeight}px;
  bottom: 0;
  overflow-x: hidden;
  z-index: 999;
  transition: all 0.5s ease-in;
  opacity: 0;
  white-space: nowrap;
  //NESTED ELEMENTS
  section {
    padding: 2rem 1rem;
    font-size: 3.6rem;
    color: white;
    select {
      font-size: 3rem;
    }
    option {
      font-size: 1.2rem;
    }
  }
  .btn {
    font-size:  2.4rem;
    border: 1px solid #588C60;
    padding: 10px 15px;
    color: white;
    background-color: $buttons;
    border-radius: 5px;
    cursor: pointer;
    //fontawesome icon
    .fa {
      padding-right: 1rem;
    }
  }
}

.sidebar.active {
  width: auto;
  opacity: 1;
}

.sidebar.active form {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.map-contain {
  @include mapHeight;
}

#map {
  width: 100%;
  height: 100%;
}
